# Github
GITHUB_HOST=https://github.com
GITHUB_TOKEN=${GITHUB_TOKEN}

# ============================================================
# 根据你使用的 AI 服务，添加对应的字段
# ============================================================

# Anthropic
ANTHROPIC_BASE_URL=${ANTHROPIC_BASE_URL}
ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
ANTHROPIC_AUTH_TOKEN=${ANTHROPIC_AUTH_TOKEN}

# Ark Coding Plan
ARK_CODING_PLAN_BASE_URL=https://ark.cn-beijing.volces.com
ARK_CODING_PLAN_API_KEY=${ARK_CODING_PLAN_API_KEY}

# BigModel
BIG_MODEL_BASE_URL=https://open.bigmodel.cn
BIG_MODEL_API_KEY=${BIG_MODEL_API_KEY}

# DeepSeek
DEEP_SEEK_BASE_URL=https://api.deepseek.com
DEEP_SEEK_API_KEY=${DEEP_SEEK_API_KEY}

# LongCat
LONG_CAT_BASE_URL=https://api.longcat.chat
LONG_CAT_API_KEY=${LONG_CAT_API_KEY}

# MiniMax
MINI_MAX_BASE_URL=https://api.minimaxi.com
MINI_MAX_API_KEY=${MINI_MAX_API_KEY}

# XiaomiMimo
XIAOMI_MIMO_BASE_URL=https://api.xiaomimimo.com
XIAOMI_MIMO_API_KEY=${XIAOMI_MIMO_API_KEY}