# Github
GITHUB_BASE_URL=https://github.com
GITHUB_TOKEN=${GITHUB_TOKEN}

# OpenRouter
OPENROUTER_API_KEY=${OPENROUTER_API_KEY}

# ============================================================
# 根据你使用的 AI 服务，添加对应的字段
# ============================================================

# Anthropic
ANTHROPIC_BASE_URL=${ANTHROPIC_BASE_URL}
ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
ANTHROPIC_AUTH_TOKEN=${ANTHROPIC_AUTH_TOKEN}

# Ark Coding Plan
ARK_CODING_PLAN_BASE_URL=https://ark.cn-beijing.volces.com
ARK_CODING_PLAN_API_KEY=${ARK_CODING_PLAN_API_KEY}

# BigModel
BIGMODEL_BASE_URL=https://open.bigmodel.cn
BIGMODEL_API_KEY=${BIGMODEL_API_KEY}

# DeepSeek
DEEP_SEEK_BASE_URL=https://api.deepseek.com
DEEP_SEEK_API_KEY=${DEEP_SEEK_API_KEY}

# LongCat
LONGCAT_BASE_URL=https://api.longcat.chat
LONGCAT_API_KEY=${LONGCAT_API_KEY}

# MiniMax
MINIMAX_BASE_URL=https://api.minimaxi.com
MINIMAX_API_KEY=${MINIMAX_API_KEY}

# XiaomiMimo
XIAOMI_MIMO_BASE_URL=https://api.xiaomimimo.com
XIAOMI_MIMO_API_KEY=${XIAOMI_MIMO_API_KEY}