# Github
GITHUB_BASE_URL=https://api.github.com
GITHUB_TOKEN=${GITHUB_TOKEN}

# GitLab
GITLAB_BASE_URL=https://git.mampod.work
GITLAB_TOKEN=${GITLAB_TOKEN}

# Linear
LINEAR_API_KEY=${LINEAR_API_KEY}
LINEAR_PROJECT_ID=01f27b55-ba78-48b1-8dab-9708d71cd7bf

# OpenRouter
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=${OPENROUTER_API_KEY}

# Sentry
SENTRY_API_KEY=${SENTRY_API_KEY}
SENTRY_BASE_URL=https://sentry.mampod.work/
SENTRY_ORGANIZATION=4tune
SENTRY_PROJECT=gusto-english

# ============================================================
# 根据你使用的 AI 服务，添加对应的字段
# 未使用的 AI 服务可以删除或注释掉对应字段
# ============================================================

# Anthropic
CLAUDE_BASE_URL=${CLAUDE_BASE_URL}
CLAUDE_API_KEY=${CLAUDE_API_KEY}
CLAUDE_AUTH_TOKEN=${CLAUDE_AUTH_TOKEN}

# DeepSeek
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_API_KEY=${DEEPSEEK_API_KEY}

# Gemini
GEMINI_BASE_URL=https://generativelanguage.googleapis.com
GEMINI_API_KEY=GEMINI_API_KEY

# GLM
GLM_BASE_URL=https://open.bigmodel.cn
GLM_API_KEY=${GLM_API_KEY}

# Hy
HY_BASE_URL=https://tokenhub.tencentmaas.com
HY_API_KEY=${HY_API_KEY}

# LongCat
LONGCAT_BASE_URL=https://api.longcat.chat
LONGCAT_API_KEY=${LONGCAT_API_KEY}

# Mimo
MIMO_BASE_URL=https://api.xiaomimimo.com
MIMO_API_KEY=${MIMO_API_KEY}

# MiniMax
MINIMAX_BASE_URL=https://api.minimaxi.com
MINIMAX_API_KEY=${MINIMAX_API_KEY}

# Qwen
QWEN_BASE_URL=https://dashscope.aliyuncs.com
QWEN_API_KEY=${QWEN_API_KEY}